<nav class="navbar navbar-inverse">
<div class="page-header">
  <h1 class="white">Rentals R Us</h1>
  <h3 class="title" class="white">{{#link-to 'contact'}} Contact us for more information!{{/link-to}}</h3>
</div>
</nav>

<div class="container">
  {{outlet}}
</div>

<div class="page-footer">
  <h5>{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About Us{{/link-to}} | {{#link-to 'contact'}}Contact Us{{/link-to}}</h5>
  <p>Copyright (c) 2016 | Jared Beckler | Epicodus | Portland, OR</p>
</div>
